.container {
    top: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 5vw;
    width: 90vw;
    height: 100%;
}
/* .container. */

.singleChatStack {
    max-height: calc(100vh - 200px);
    justify-content: center;
}

.webviewer {
    visibility: visible;
    z-index: 999;
}